@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

body {
    margin: 0;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 50%, #F7CE68 98%);
    height: 100vh;
}

header {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*justify-content: center;*/
    /*position: relative;*/
    padding: 10px 0;
}

header .logo {
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 24px;
}
header div img {
    width: 28%;
    margin-left: 4%;
}
header .menu {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 60%;
    font-size: 24px;
}
.menu p:hover {
    font-weight: bold;
}
header .salir {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .salir img {
    width: 15%; 
    margin-right: 5%;
}

h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.boton {
    width: 20%;
    text-align: center;
}
.boton p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

div#botones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.container-boton-añadir {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.alumnos, .empresas, .bolsa {
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 30px;
}

.alumnos {
    background-image: url("img/alumnos.jpg");
}

.empresas {
    background-image: url("img/empresas.png");
}

.bolsa {
    background-image: url("img/bolsa.png");
}

.alumnos:hover, .empresas:hover, .bolsa:hover {
    border: 2px solid black;
    border-radius: 30px;
}


#contenido {
    display: none;
    padding: 20px;
    text-align: center;
}

.flecha-volver {
    display: none;
}

#filtros {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#filtros select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tarjetas, #tarjetas-empresas, #tarjetas-ofertas, #tarjetas-alumnos-oferta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
}

.tarjeta {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.tarjeta img {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.tarjeta p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 25%;
    position: relative;
    font-size: 20px;
}


.modal-contenido img {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    object-fit: cover;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

#botones-admin, #botones-admin-empresa, #boton-asignar-oferta {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#botones-admin button, #botones-admin-empresa button, #boton-asignar-oferta button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


#boton-editar, #boton-editar-empresa {
    background-color: #FBAB7E;
    color: white;
}

#boton-editar:hover, #boton-editar-empresa:hover {
    background-color: #e79260;
    transform: scale(1.05);
}

#boton-eliminar, #boton-eliminar-empresa {
    background-color: #f44336;
    color: white;
}

#boton-eliminar:hover, #boton-eliminar-empresa:hover {
    background-color: #d34340;
    transform: scale(1.05);
}

#modal-añadir .modal-contenido, #modal-editar .modal-contenido, #modal-añadir-empresa .modal-contenido, #modal-editar-empresa .modal-contenido,#modal-añadir-oferta .modal-contenido{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: aparecer 0.3s ease-in-out;
}

#modal-añadir .cerrar, #modal-editar .cerrar, #modal-añadir-empresa .cerrar, #modal-editar-empresa .cerrar, #modal-añadir-oferta .cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

#form-añadir, #form-editar, #form-añadir-empresa, #form-editar-empresa, #form-añadir-oferta {
    display: flex;
    flex-direction: column;
}

#form-añadir label, #form-editar label, #form-añadir-empresa label, #form-editar-empresa label, #form-añadir-oferta label {
    margin-top: 10px;
    font-weight: bold;
    text-align: start;
}

#form-añadir input, #form-editar input, #form-añadir-empresa input, #form-editar-empresa input, #form-añadir-oferta input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#form-añadir button, #form-editar button, #form-añadir-empresa button, #form-editar-empresa button, #form-añadir-oferta button, #boton-asignar-oferta button {
    margin-top: 15px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#form-añadir button:hover, #form-editar button:hover, #form-añadir-empresa button:hover, #form-editar-empresa button:hover, #form-añadir-oferta button:hover {
    background-color: #218838;
}

select#editar-formacion, 
select#editar-promocion, 
select#añadir-formacion, 
select#añadir-promocion,
select#añadir-empresa-rama,
select#editar-empresa-rama {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

#volver-menu, #volver-menu-empresas, #btn-agregar-empresa, #volver-menu-bolsa, #btn-agregar-oferta {
    padding: 10px 20px;
    background-color: #f38647;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#volver-menu:hover, #volver-menu-empresas:hover, #btn-agregar-empresa:hover, #volver-menu-bolsa:hover, #btn-agregar-oferta:hover{
    background-color: #e79260;
    transform: scale(1.05);
}

.container-boton-añadir button,
.añadir-alumnos, #btn-agregar-empresa {
    padding: 10px 20px;
    background-color: #f38647;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.container-boton-añadir button:hover,
.añadir-alumnos:hover, #btn-agregar-empresa:hover {
    background-color: #e79260;
    transform: scale(1.05);
}



.top-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.filtros-buscar {
    display: flex;
    align-items: center;
    gap: 10px;
}
#filtros {
    margin-top: 15px;
}

.filtros-buscar #filtros {
    display: flex;
    gap: 10px;
}

#btn-buscar {
    padding: 10px 20px;
    background-color: #f38647;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#btn-buscar:hover {
    background-color: #e79260;
    transform: scale(1.05);
}

/*Tablet*/

@media (min-width: 481px) and (max-width: 768px) {
    header .logo p {
        display: none; 
    }

    header .menu p {
        font-size: 16px;
    }

    header .salir img {
        width: 25%; 
        margin-right: 5%;
    }

    header .logo img {
        width: 60%; 
        margin-right: 1%;
    }


}


/*Movil*/
@media (max-width: 485px) {

    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    header .logo p {
        display: none;
    }

    header .menu p {
        font-size: 12px;
    }

    header .salir img {
        width: 25%; 
        margin-right: 5%;
    }

    header .logo img {
        width: 60%; 
        margin-right: 1%;
    }

    #botones {
        flex-direction: column;
        align-items: center;
    }

    .boton {
        width: 75%;
    }
    /*
    #volver-menu {
        width: 30%;
        padding: 10px 20px;
        font-size: 12px; 
        margin-right: 5px;
    }
    */
    .filtros-buscar {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #filtros select {
        width: 90px;
        font-size: 12px;
        padding: 5px;
    }
    #btn-buscar {
        font-size: 12px;
        padding: 10px 20px;
    }

    #volver-menu {
        display: none;
    }
    .flecha-volver {
        display: inline-block;
        width: 24px; /* Ajusta el tamaño según necesites */
        height: auto;
    }

    #btn-agregar-empresa, #btn-agregar-oferta {
        margin-left: 15px;
    }
}